body{
    background-color: #CBC3E3;
  }
  
  .myclass1{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .articleright{
    border-color: black;
    border-style: solid;
    margin-right: 300px;
    border-radius: 10px; 
    color: white;
    background-color: blue;
  }
  
  
  .divleft{
    border: 5px;
    border-radius: 10px;
    border-color: blue; 
    margin-left: 300px;
    border-style: solid;
  
  }
  
  #name{
    display:block;
    margin: 0px 0px 0px 0px
  }